@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    overscroll-behavior: none;
    -webkit-overscroll-behavior: none;
}

* {
    transition: all 0.25s ease-in-out;
}

:where(body) {
    font-family: "kaisotai";
    background-color: var(--baseColor);
}

.en {
    font-family: alternate-gothic-condensed-a;
}

.inner {
    width: 100%;
    max-width: 1406px;
    padding-right: 20px;
    padding-left: 20px;
    margin: 0 auto;
}

@media screen and (min-width: 500px) {
    .scroll-animation_scale {
        transform-origin: center;
        animation: scaleAnimation linear forwards;
        animation-timeline: scroll();
        pointer-events: none;
    }
    @-webkit-keyframes scaleAnimation {
        0% {
            transform: scale(1);
            opacity: 1;
        }
        10% {
            transform: scale(1);
            opacity: 1;
        }
        20% {
            transform: scale(10);
            opacity: 0;
            visibility: hidden;
        }
        40% {
            opacity: 0;
            visibility: hidden;
        }
        100% {
            opacity: 0;
            display: none;
        }
    }
    @keyframes scaleAnimation {
        0% {
            transform: scale(1);
            opacity: 1;
        }
        10% {
            transform: scale(1);
            opacity: 1;
        }
        20% {
            transform: scale(10);
            opacity: 0;
            visibility: hidden;
        }
        40% {
            opacity: 0;
            visibility: hidden;
        }
        100% {
            opacity: 0;
            display: none;
        }
    }
    .scroll-animation_bg {
        animation: bgAnimation linear forwards;
        animation-timeline: scroll();
        pointer-events: none;
    }
    @-webkit-keyframes bgAnimation {
        0% {
            transform: translateX(-100%);
            opacity: 0;
        }
        90% {
            transform: translateX(-90%);
            opacity: 0;
        }
        92% {
            opacity: 1;
        }
        93% {
            opacity: 1;
            transform: translateX(0%);
        }
        100% {
            transform: translateX(0%);
            opacity: 1;
        }
    }
    @keyframes bgAnimation {
        0% {
            transform: translateX(-100%);
            opacity: 0;
        }
        90% {
            transform: translateX(-90%);
            opacity: 0;
        }
        92% {
            opacity: 1;
        }
        93% {
            opacity: 1;
            transform: translateX(0%);
        }
        100% {
            transform: translateX(0%);
            opacity: 1;
        }
    }
}